
p{
    font-size: 20px;
    color: rgb(93, 36, 105);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
                            

}

h1{
    font-size: 40px;
    color: rgb(43, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}












